* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.divImg {
    display:flex;
    justify-content: center;
    padding-top: 25px;
}

hr {
    margin-top: 25px;
    color: #D9DADC;
}

main p {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 12px;
    font-weight: 900;
    font-family: 'poppins', sans-serif;
}



.divRedesSociais {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.facebook {
    cursor: pointer;
    width: 450px;
    height: 48px;
    border-radius: 500px;
    margin-bottom: 10px;
    border: none;
    background-color: #3b5998;
    color: #ffffff;
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-weight: 800;
}

.facebook:hover {
    background-color: #3A61B3;
}


.apple {
    cursor: pointer;
    width: 450px;
    height: 48px;
    border-radius: 500px;
    margin-bottom: 10px;
    border: none;
    background-color: #000000;
    color:#ffffff;
    font-family: 'poppins', sans-serif;
    font-weight: 800;
}

.apple:hover {
    background-color: #333333;
}

.google {
    cursor: pointer;
    width: 450px;
    height: 48px;
    border-radius: 500px;
    margin-bottom: 10px;
    border: 2px solid #616467;
    color:#616467;
    font-weight: 800;
    font-family: 'poppins', sans-serif;
}

#icongoogle img{
    content: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNTMzLjUgNTQ0LjMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUzMy41IDI3OC40YzAtMTguNS0xLjUtMzcuMS00LjctNTUuM0gyNzIuMXYxMDQuOGgxNDdjLTYuMSAzMy44LTI1LjcgNjMuNy01NC40IDgyLjd2NjhoODcuN2M1MS41LTQ3LjQgODEuMS0xMTcuNCA4MS4xLTIwMC4yeiIgZmlsbD0iIzQyODVmNCIvPjxwYXRoIGQ9Ik0yNzIuMSA1NDQuM2M3My40IDAgMTM1LjMtMjQuMSAxODAuNC02NS43bC04Ny43LTY4Yy0yNC40IDE2LjYtNTUuOSAyNi05Mi42IDI2LTcxIDAtMTMxLjItNDcuOS0xNTIuOC0xMTIuM0gyOC45djcwLjFjNDYuMiA5MS45IDE0MC4zIDE0OS45IDI0My4yIDE0OS45eiIgZmlsbD0iIzM0YTg1MyIvPjxwYXRoIGQ9Ik0xMTkuMyAzMjQuM2MtMTEuNC0zMy44LTExLjQtNzAuNCAwLTEwNC4yVjE1MEgyOC45Yy0zOC42IDc2LjktMzguNiAxNjcuNSAwIDI0NC40bDkwLjQtNzAuMXoiIGZpbGw9IiNmYmJjMDQiLz48cGF0aCBkPSJNMjcyLjEgMTA3LjdjMzguOC0uNiA3Ni4zIDE0IDEwNC40IDQwLjhsNzcuNy03Ny43QzQwNSAyNC42IDMzOS43LS44IDI3Mi4xIDAgMTY5LjIgMCA3NS4xIDU4IDI4LjkgMTUwbDkwLjQgNzAuMWMyMS41LTY0LjUgODEuOC0xMTIuNCAxNTIuOC0xMTIuNHoiIGZpbGw9IiNlYTQzMzUiLz48L3N2Zz4=);
}

.google:hover {
    background: #616467;
    color:#ffffff;
}

.numeroTelefone {
    cursor: pointer;
    width: 450px;
    height: 48px;
    border-radius: 500px;
    margin-bottom: 10px;
    color:#616467;
    border: 2px solid #616467;
    font-weight: 800;
    font-family: 'poppins', sans-serif;
}

.numeroTelefone:hover {
    background-color: #616467;
    color:#ffffff;
}

.divRedesSociais button img {
    width: 20px;
    height: 15px;
    margin-right: 10px;
}

.linha{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.linha1 {
    width: 190px;
    height: 1px;
    background-color: #616467;
}

.ou {
    margin: 0 20px 0 20px;
    font-weight: 600;
}


.informacoesLogin {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacoesLogin label {
    font-size: 16px;
    color: #222326;
    font-family: 'poppins', sans-serif;
    font-weight: 800;
    margin-right: 118px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#senhainformacoes {
    margin-right: 390px;
}

.informacoesLogin input {
    width: 450px;
    height: 40px;
    border: 1px solid #616467;  
}

.inputlogin:focus {
    outline: none;
    box-shadow: #D9DADC;
}

.inputlogin {
    margin-left: 5px;
    padding-left: 10px;
    font-size: 14px;
}

#esqueceuSenha {
    color:#616467;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 323px;
}

#esqueceuSenha:hover {
    color:#1ed760;
}


.inputcheckbox {
    display:flex;
    justify-content: center;
    
}


.inputcheckbox input {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #1ed760;
    display: inline-block;
    margin-top: 60px;
}

.inputcheckbox label {
    padding-left: 13px;
    padding-top: 3px;
    margin-top: 57px;
    color:#616467;
    font-family: 'poppins', sans-serif;
    font-size: 14px;
}


.inputcheckbox button {
    cursor: pointer;
    width: 210px;
    height: 48px;
    background-color: #15883e;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    color:#ffffff;
    border-radius: 500px;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid transparent;
    margin-left: 90px;
    margin-top: 50px;
}

.inputcheckbox button:hover {
    background-color: #1DB954;
}

.linhaPosition {
    display:flex;
    justify-content: center;
    margin-top: 15px;
}

.linhaFinal {
    width: 450px;
    height: 1px;
    background-color: #616467;
}

.tituloConta {
    display:flex;
    justify-content: center;
}

.tituloConta h1 {
    margin-top: 30px;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    text-align: center;
}

.tituloConta button {
    cursor: pointer;
    margin-top: 15px;
    width: 450px;
    height: 48px;
    border-radius: 500px;
    margin-bottom: 10px;
    border: 2px solid #616467;
    color:#616467;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.tituloConta button:hover {
    background-color: #616467;
    color:#ffffff;
}







